.grid {
    display: grid;
    border: 2px blue solid;
    height: 500px;
    width:500px;
    grid-template: repeat(4, 1fr 1fr) / repeat(4, 4fr 1fr);
    /* disse er de samme verdiene 
    grid-template: repeat(8, 1fr) / repeat(4, 4fr 1fr);
    */

    gap: 5px;
  }
  
  .a {
    grid-area: 3 / 4 / span 1 / span 1;

  }
  
  .b {  
    grid-area: 2 / 2 / span 3 / span 6; 
    visibility: hidden;
  }
  
  .c {
    grid-area: 6 / 8 / span 3 / span 1;
  }
  
  .box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
  }
  