p,
label {
  font: 1rem "Fira Sans", sans-serif;
}

input {
  margin: 0.4rem;
}

.employee-container {
  display: flex;
  align-content: center;
  flex-flow: wrap;
}

:checked {
  background-color: red;
}

:checked + label {
  display: none;
}
